* {
  box-sizing: border-box;
}
.card-wrapper {
  width: 300px;
  text-align: center;

  border: 1px solid gray;
  border-radius: 2%;
}

img {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid gray;
  object-fit: cover;
}

.wrapper {
  width: 500px;
  border: 1px dotted gray;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid red;
  margin: 50px 0px 50px 25px;
}

.text-box {
  width: 220px;
  border: 1px solid green;
  padding: 20px;
  margin: 0 0 20px 25px;
}
