* {
  box-sizing: border-box;
}

.nav-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.list-item {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 68, 0, 0.801);
  padding: 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.sub-nav-list {
  display: none;
  position: absolute;
  top: 62px;
  left: -25px;
}

.sub-list-item {
  background-color: rgba(255, 68, 0, 0.801);
  padding: 20px;
  width: 150px;
}
.sub-list-item:hover {
  background-color: rgba(255, 68, 0, 0.966);
}

.list-item:hover .sub-nav-list {
  display: block;
}

.sub-sub-nav-list {
  display: none;
  position: absolute;
  top: 0;
  left: 110px;
}

.cascade {
  position: relative;
}
.cascade:hover .sub-sub-nav-list {
  display: block;
}

.sub-sub-sub-nav-list {
  display: none;
  position: absolute;
  top: 0;
  left: 110px;
}

.cascadetwo {
  position: relative;
}
.cascadetwo:hover .sub-sub-sub-nav-list {
  display: block;
}
